#transportBar
	.play-button.button.button-0 Play
	.stop-button.button.button-0 Stop
	.loop-button.button.button-0 Loop
	.bpm-display 128 bpm
	.clear-solo-mute-button.button.button-0 Clear Solo/Mute

	.save-button.button.button-0 Save
	.load-button.button.button-0 Load
	.new-button.button.button-0 New