#transportBar
	.play-button.button.button-0 Play
	.stop-button.button.button-0 Stop
	.loop-button.button.button-0 Loop
	input.bpm-display(type="number", value="128", min="0", max="400")
	.clear-solo-mute-button.button.button-0 Clear Solo/Mute

	.save-button.button.button-0 Save
	.load-button.button.button-0 Load
		input#load-file(type="file")
	.new-button.button.button-0 New