form.component-controls.master-controls
	.type
		label
			input(type="radio", name="type", value="none") 
			| None
		label
			input(type="radio", name="type", value="scale")
			| Scale
		label
			input(type="radio", name="type", value="digital")
			| Digital
		label
			input(type="radio", name="type", value="saw")
			| Saw
	.scale-controls
		| scale controls
	.digital-controls
		| digital controls
	.saw-controls
		| saw controls

	.displays
		.output-display
			h3 Output Waveform
			svg.waveform