.controls.sub-menu
	button.button.button-0.add-oscillator-button Add Oscillator
	button.button.button-0.add-filter-button Add Filter
	include ./menu/_oscillator-controls
	include ./menu/_filter-controls