.controls
	button.button.button-0.add-oscillator-button Add Oscillator
	button.button.button-0.add-filter-button Add Filter
	button.button.button-0.add-splitter-button Add Splitter
	button.button.button-0.add-user-pattern-button Add User Pattern
	#component-control-holder