html
	head
		include _head
		style
			| html {
			| 	background-color: white;
			| }
			| body {
			| 	display: none;
			| 	background-color: white;
			| }
	body
		include _main-nav
		include _header
		include _footer
		h1 It Worked Again
		script(src="index.js")