.scene
	order: 1
	height: 100px
	background: #33C
	border-bottom: 1px solid #006
	word-wrap: nowrap
	.scene-id
		display:inline-block
		width: $track-width
		height: 100%
		background-color: #44d
	.patterns
		display: inline-block
		height: 100%
	.pattern
		display: inline-block
		width: $track-width
		height: 100%
		margin: 0 2px
		background-color: #44d
