.oscillator
	.remove-button
	.inputs
		.input.port.add
		.input.port.multiply
		.input.port.transform
	.output.port
	.output-display
		svg.waveform
		.measure-bars
	.waveform-display
		//shows waveform for length of this pattern
		svg.waveform
		.measure-bars
