.oscillator.component
	.remove-button
	.title
		| Oscillator
	.inputs
		.add-input.input
			.port
			| Add
		.multiply-input.input
			.port
			| Multiply
	.output
		.port
		| Output
	.output-display
		svg.waveform
		.measure-bars
	.waveform-display
		//shows waveform for length of this pattern
		svg.waveform
		.measure-bars
