.component
	position: absolute
	box-shadow: 0 0 3px #000 
	&.active
		box-shadow: 0 0 20px #000
		z-index: 1
	.inputs
		display: inline-block
		float: left
		vertical-align: middle
	.outputs
		display: inline-block
		float: right
		vertical-align: middle
		.output
			.port
				// float: right