#file-player.page
	.background
	.content
		h1 Audio file player Page
		input#file-picker(type="file")
		select#vis-picker
			option(value=0, selected=true) 0
			option(value=1) 1
			option(value=2) 2
			option(value=3) 3
		button.play.button.button-0 Play
		button.stop.button.button-0 Stop
		button.goFullScreen.button.button-0() Go Full Screen
		
		#visualizer