#file-player.page
	.background
	.content
		h1 Audio file player Page
		input#file-picker(type="file")
		select#vis-picker
		button.play.button.button-0 Play
		button.stop.button.button-0 Stop
		button.goFullScreen.button.button-0() Go Full Screen
		
		#visualizer