#home.page
	.background
	.content
		each val in [0,1,2,3,4]
			button.trigger.button.button-0(data-trigger=("" + val))= "trigger " + val

		button.triggerAll.button.button-0() trigger all
		button.getSongsFromTwitter.button.button-0() Get Songs From Twitter
