#microphone.page
	.background
	.content
		h1 Microphone Vis Page
		select#vis-picker
		button.play.button.button-0 Play
		button.stop.button.button-0 Stop
		button.goFullScreen.button.button-0() Go Full Screen
		
		#visualizer