#pattern-editor.page
	.background
	.content
		#components
		svg#connections
		include ./pattern-editor/_menu
		#sequencer-display
			.rhythm-display
				svg.waveform
				.phrase-progress-bar
			.pitch-display
				svg.waveform
				.progress-bar
			#output-sixteenths

