#pattern-editor.page
	.background
	.content
		#components
		svg#connections
		include ./pattern-editor/_menu
		#sequencer-display
			#output-notes
			#waveform-manager
				.rhythm-display.waveform-display
					svg.waveform
					.threshold
				.pitch-display.waveform-display
					svg.waveform
				.output-display.waveform-display
					svg.waveform
				.oscillation-display.waveform-display
					svg.waveform

