#pattern-editor.page.time-signature-4-4
	.background
	.content
		#components
			include ./pattern-editor/_menu
			.connections
		#sequencer-display
			#pattern-graph
				svg.graph
			#note-graph
				svg.graph
			#output-sixteenths
				each val in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
					.sixteenth(data-count="#{val}")
						.available-notes

