.filter.component
	.remove-button
	.title
		| Filter
	.inputs
		.line-input.input(data-connection-id="#{lineInputId}")
			.port
			| Line
		.level-input.input(data-connection-id="#{levelInputId}")
			.port
			| Level
	.output(data-connection-id="#{outputId}")
		.port
		| Output
	.output-display
		svg.waveform
		.measure-bars
	.waveform-display
		//shows waveform for length of this pattern
		svg.waveform
		.measure-bars