.filter.component
	.remove-button
	.title
		| Filter

	// PORTS
	.inputs
		.line-input.input(data-connection-id="#{lineInputId}")
			.port
			| Line
		.level-input.input(data-connection-id="#{levelInputId}")
			.port
			| Level
	.outputs
		.output(data-connection-id="#{outputId}")
			.port
			| Output

	// Controls
	form.component-controls.filter-controls
		.type
			label
				input(type="radio", name="filter-type", value="passthrough", selected="true") 
				| Passthrough
			label
				input(type="radio", name="filter-type", value="scale")
				| Scale
			label
				input(type="radio", name="filter-type", value="add")
				| Add 
			label
				input(type="radio", name="filter-type", value="quant")
				| Quant

		.scale-controls
			| scale controls
			label
				input(type="number", name="static-value", value="1") 
				| Static Value
		.static-controls
			| Add Value Controls
			label
				input(type="number", name="static-value", value="0") 
				| Add Value
		.quant-controls
			| Quant controls
			label
				input(type="number", name="static-value", value="1") 
				| Quant to the nearest

		.displays
			.output-display
				h3 Output Waveform
				svg.waveform