#master.component
	.title
		| Master Inputs
	#sequencer-inputs.inputs
		#rhythm-input.input(data-connection-id="#{rhythmInputId}")
			.port
			| Rhythm
		#pitch-input.input(data-connection-id="#{pitchInputId}")
			.port
			| Pitch