.oscillator.component
	.remove-button
	.title
		| Oscillator
	.inputs
		.add-input.input(data-connection-id="#{addInputId}")
			.port
			| Add
		.multiply-input.input(data-connection-id="#{multiplyInputId}")
			.port
			| Multiply

	.outputs
		.output(data-connection-id="#{outputId}")
			.port
			| Output
	.output-display
		svg.waveform
		.measure-bars
	.waveform-display
		//shows waveform for length of this pattern
		svg.waveform
		.measure-bars
	include ./controls/_oscillator-controls