.splitter.component
	.remove-button
	.title
		| Splitter
	.inputs
		.line-input.input(data-connection-id="#{inputId}")
			.port
			| Line
	.outputs
		.output.output-a(data-connection-id="#{outputAId}")
			.port
			| Output A
		.output.output-b(data-connection-id="#{outputBId}")
			.port
			| Output B
	.output-display
		svg.waveform
		.measure-bars
	.waveform-display
		//shows waveform for length of this pattern
		svg.waveform
		.measure-bars