.splitter.component
	.remove-button
	.title
		| Splitter
	.inputs
		.line-input.input
			.port
			| Line
	.outputs
		.output.output-a
			.port
			| Output A
		.output.output-b
			.port
			| Output B
	.output-display
		svg.waveform
		.measure-bars
	.waveform-display
		//shows waveform for length of this pattern
		svg.waveform
		.measure-bars