.splitter.component
	.button-1.remove-button.fa.fa-close
	.button-1.settings-button.fa.fa-cog
	.title
		| Splitter

	// PORTS
	.inputs
		.line-input.input(data-connection-id="#{inputId}")
			.port
			| Line
	.outputs
		.output.output-a(data-connection-id="#{outputAId}")
			.port
			| Output A
		.output.output-b(data-connection-id="#{outputBId}")
			.port
			| Output B
	// CONTROLS
	form.component-controls.splitter-controls