.user-pattern.component
	.button-1.remove-button.fa.fa-close
	.button-1.settings-button.fa.fa-cog
	.title
		| User Pattern

	// PORTS
	.inputs
		.threshold-input.input(data-connection-id="#{thresholdInputId}")
			.port
			| Threshold
	.outputs
		.output.output-a(data-connection-id="#{outputId}")
			.port
			| Output A

	// CONTROLS
	form.component-controls.user-pattern-controls