.user-pattern.component
	.remove-button
	.title
		| User Pattern
	.inputs
		.line-input.input
			.port
			| Line
	.outputs
		.output.output-a
			.port
			| Output A
	.output-display
		svg.waveform
		.measure-bars
	.waveform-display
		//shows waveform for length of this pattern
		svg.waveform
		.measure-bars