#main-menu
	.handle
		.contents(class="fa fa-bars")
	a.closer(href="#/") Home
	a.closer(href="#/soundcloud") Soundcloud
	a.closer(href="#/file-player") Play File
	a.closer(href="#/microphone") Use Mic
	