#main-menu
	.handle
		.contents(class="fa fa-bars")
	a.closer(href="#/") Load New Data
	//- a.closer(href="#/about") About
	a.closer(href="#/sequencer") Sequencer
	a.closer(href="#/sound-board") Sound Board
	//- a.closer(href="#/soundcloud") Soundcloud
	